<footer class="bg-black flex justify-between items-end p-4">
      <a href="https://shoc71.github.io/eDash/" target="_blank" rel="noreferrer"
        class="flex items-center border-2 border-white text-white rounded px-4 py-2 hover:bg-blue-600 hover:text-white transition"
        >
            <img 
                src="assets/logos/compass.png"
                alt="Compass Icon"
                class="rounded"
                width="50"
            />
            <span class="ml-2 font-semibold">
                <strong>
                    Other Works
                </strong>
            </span>
      </a>

      <a href="https://github.com/shoc71/file-converter" target="_blank" rel="noreferrer"
        class="flex items-center border-2 border-white text-white rounded px-4 py-2 hover:bg-gray-600 hover:text-white transition"
        >
          <img 
              src="assets/logos/github-logo.png"
              alt="Github Icon"
              class="rounded"
              width="50"
          />
          <span class="ml-2 font-semibold">Source Code</span>
      </a>
</footer>